POSTGRES_NAME=klimaathelpdesk
POSTGRES_USER=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_PASSWORD_FILE=path/to/your/postgres_password.txt
WAGTAILADMIN_BASE_URL=https://localhost:8000
AWS_ACCESS_KEY_ID=testaccesskey
AWS_S3_ENDPOINT_URL=path/to/your/s3_endpoint_url
AWS_SECRET_ACCESS_KEY_FILE=c:\\kh\\secretfiles\\AWS_SECRET_passwordtest.txt
AWS_STORAGE_BUCKET_NAME=testfiles
MEDIA_ROOT=path/to/your/media_root
SECRET_KEY=your_secret_key_here