*.pyc
/build
/dist
/wagtail_helpdesk.egg-info
/.coverage
/htmlcov
/.tox
/venv
/.vscode
/site
/test_wagtail_helpdesk.db
/node_modules
/test-static
/test-media
.idea/
.idea/*
.env
wagtail_helpdesk/static/wagtail_helpdesk/mainKH.js
wagtail_helpdesk/static/wagtail_helpdesk/carboncalculator.js
wagtail_helpdesk/static/wagtail_helpdesk/co2categories.js
wagtail_helpdesk/static/wagtail_helpdesk/main.js
wagtail_helpdesk/static/wagtail_helpdesk/mainEH.css
wagtail_helpdesk/static/wagtail_helpdesk/mainEH.js
wagtail_helpdesk/static/wagtail_helpdesk/mainKH.css
wagtail_helpdesk/static/wagtail_helpdesk/mainKH.js
