{% extends "wagtail_helpdesk/base.html" %}
{% load static i18n helpdesk_tags wagtailimages_tags wagtailcore_tags %}
{% block head %}
<script>
    const carbonemissioncategoriesvar = '{{ carbonemissioncategories|escapejs  }}';
</script>
{% endblock %}

{%block content%}
<div class="konva-container"> 
  <div class="konva-text">
    <h1>{{ page.title }}</h1>
    <p>{{ page.content|richtext }}</p>
  </div>
  <div id="konva"></div>
  {% comment %} <div class="konva-form">
    <form onload="LoadCarbonCategories()">
      <label>Klik op een cirkel om de categorie te verwijderen.</label>
      </br>
      <label>Voeg hier categorieën toe:</label>
      </br>
      <select name="co2categories" id="co2categories">
        <option value="">-</option>
      </select>
      </br>
      <button id="co2button" class="button" type="button">Voeg toe</button>
    </form>
  </div> {% endcomment %}
</div>
{% endblock%}

{% block js %}
  <script src="{% versioned_static 'wagtail_helpdesk/carboncalculator.js' %}"></script>
{% endblock %}
