.konva-container {
  margin-top: 45px;
  width: 100%;
  display: inline-grid;
  grid-template-columns: 1fr 800px 1fr;
}

.konva-form {
  h1 {
    display: inline-block;
    margin-bottom: 20px;
  }
  
}
/*.konva-text 
{
  background-color: yellow;
}*/
// #konva {
  
// }

// .konva-text {

// }

