#cc__content-header {

  * {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    height: 0;
  }

  .content-header__wrapper {
    padding-right: 30px;
  }

  h1 {
    display: inline-block;

    //  @media only screen and (max-width: 1000px) {
    //     font-size: 36px;
    //  }
  }

  i {
    display: inline-block;
    margin-top: 6px;
    vertical-align: top;
  }
}

#cc__content {
  * {
    margin: 0;
    padding: 0;
  }
}

#cc__grid {
  margin-left: 180px;
  width: calc(100vw - 360px);
  
  display: grid;
  grid-template-columns: 300px 1fr 300px;
}

#cc__categorytext {
  p {
    margin-top: 30px;
  }
}

#cc__konva {
  width: calc(100vw - 960px);
  height: calc(100vh - 190px);

  @media only screen and (max-width: 1200px) {
    margin: 0;
    width: 100vw;
  }
}

#cc__popup {
  display: none;
  z-index: 8000;
  position: fixed;
  top: 190px;
  left: 240px;
  width: calc(100vw - 480px);
  background: white;

  @media only screen and (max-width: 1200px) {
    left: 0px;
    width: 100vw;
  }
}

#cc__popup-content {
  padding: 20px;
  border-radius: 8px;
  position: relative;

  i {
    float: right;
  }
}
