.konva-container {
  width: 100%;
  display: flex;
}

.konva-form {
  h1 {
    display: inline-block;
    margin-bottom: 20px;
  }
}

.konva-text {
  width: 400px;

  @media only screen and (max-width: 1200px) {
    display: none;
  }
}

#konva {
  height: calc(100vh - 90px);
  width: 800px;

  @media only screen and (max-width: 800px) {
    width: 100vw;
    height: calc(100vh - 60px);
  }
}


