// Colors
$color-white: #fff;
$color-true-black: #000;
$color-button: #000;

$color-yellow-warm: #ffc300;
$color-yellow: #FFCA01;
$color-yellow-lighter: #FFD54C;
$color-yellow-light: #FFF4D1;
$color-yellow-background: #FFF9E7;

$color-orange-dark: #FE9450;
$color-orange-light: #FED36B;
$sticky-link-typography: "heading-5";
$recent-questions-typography: "heading-4";
$question-link-typography: "heading-3";
@import '__sharedvariables.scss';