#videoContent.is-hidden,
#pageContent.is-hidden {
  display: none !important;
}

#videoContent.is-visible,
#pageContent.is-visible {
  display: block !important;
}

.video__toggle-text {
  text-align: left;
  margin: 0.5rem 0;

  @media (max-width: 768px) {
    text-align: center;
  }
}

.toggle-link {
  color: $color-true-black;    
  background-color: transparent;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 3px;
  font-family: $geomanist-font-stack, system-ui, sans-serif !important;
  font-size: 20px;
  font-weight: inherit;
  cursor: pointer;
  padding: 2px 6px;
  border-radius: 4px;
  transition: all 0.1s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.toggle-link:hover,
.toggle-link:focus {
  background-color: $color-true-black;
  color: $color-white;
  text-decoration: none;
}

