/*.video {
  border: none;
  position: absolute;
  top: 100px;
  Left: -400px;
}
*/

.video__title-button {
  &[aria-expanded='true'] {
    .disclosure__title-button-icon {
      transform: rotate(180deg);
    }
  }
}

.video__title-button-icon {
  background-image: url('../icons/chevron-down.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
  height: 10px;
  vertical-align: middle;
  width: 10px;
  margin-left: 15px;
}

.video__video-content, .video__video-abstract {
  &[aria-hidden='true'] {
    display: none;
  }
}

.content-header .video .toggle-btn {
  font-family: $geomanist-font-stack, system-ui, sans-serif !important;
  font-weight: 500 !important;
  font-size: 1.1rem !important;
  line-height: 1.4 !important;
  width: 9.5em;
  text-align: center;
}


